
:root {
    --main-color: #0026f9;
    /* --type-default: hsl(0, 0%, 94%); */
    --white-background: GhostWhite;     /* Snow; */
    --weekday-label: hsl(215, 40%, 83%);
    --today: blue;
    --type-weekend: hsl(195, 60%, 85%);
    --background-color: lavender;
    --user-display: none;
    --guest-display: block;
}


/*************   General   *************/

* {
    box-sizing: border-box;
}

header{
    background-color: var(--main-color);
    min-height: 5.5rem;
    h1 {
        font-size: clamp(1.5rem, 7vw, 2rem);
        color: white; 
        padding-bottom: 0.2rem;
    }
    .logo img{
        height: 3rem;
    }
}

body{
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    text-align: center;
}

main{
    padding: 0 0 100px 0;
}

footer{
    padding-block: 2rem;
}

select, input[type="text"], textarea{
    margin: 0.5rem;
    padding: 0.5rem;
    min-width: 22ch;
    /* max-width: 90%; */
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--white-background);
    resize: none;
    &[disabled]{
        background-color: hsl(0, 0%, 90%);
    }
}

dialog{
    max-width: min(90%, 500px);
    border: 1px solid #333;
    border-radius: 10px;
    padding: 1.5rem 1rem;
    &::backdrop {
        background-color: rgba(0, 0, 0, 0.7);
    }   
}

hr{ margin-block: 1.2rem }

.btn{
    --btn-color: lightgray;
    margin-block: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--btn-color);
    &:hover, &:focus{
        background-color: hsl( from var(--btn-color) h s calc(l - 10) );
    }
}
.btn-main{
    --btn-color: hsl(231, 100%, 60%);
    color: white;
}
.btn-ok{
    padding: 0.8rem;
}




/*************   Calendar   *************/

.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin: 2rem;
}
.month {
    padding: 1.2rem;
    border: 2px solid DarkRed;
    border-radius: 1.2rem;
    /* Όταν scrollάρεις σε αυτό μέσω JavaScript, πρόσθεσε και 200px λόγω του panel (magin number)*/
    scroll-margin-top: 200px; 
}
h3, .month-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
    max-width: 300px;
    margin: auto;
}
.day, .weekday {
    width: 2.5rem;
    height: 2.5rem;
    background: var(--white-background);
    /* padding: 10px; */
    border: 1px solid #ccc;
    border-radius: 10%;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.5s;

    /* Κεντράρισμα αριθμού μήνα κατακόρυφα */
    display: grid;  
    place-items: center;
}
.weekday {
    font-weight: bold;
    background: var(--weekday-label);
    cursor: default;
}
.day:hover {
    background: hsl(0, 0%, 83%);
}
.day.selected, .day.selected:hover {
    border: 3px solid black;
}



/*************   Days   *************/

/* Σάββατο, Κυριακή */
.day-6, .day-0 {
    /* background-color: LightGreen; */
    background-color: var(--type-weekend, MediumSpringGreen);
    color: black;
}
.today {
    /* background-color: var(--today); */
    /* color: white; */
    border: 3px solid black;
    /* font-weight: 800; */
}

.day[data-type="1"] {
    background-color: var(--type-1, #f0f0f0);
}
.day[data-type="2"] {
    background-color: var(--type-2, #f0f0f0);
}
.day[data-type="3"] {
    background-color: var(--type-3, #f0f0f0);
}
.day[data-type="4"] {
    background-color: var(--type-4, #f0f0f0);
}
.day[data-type="5"] {
    background-color: var(--type-5, #f0f0f0);
}
.day[data-type="6"] {
    background-color: var(--type-6, #f0f0f0);
}
.day[data-type="7"] {   /* Γιορτή */ 
    background-color: var(--type-7, #f0f0f0);
    color: snow !important;
}
.day[data-type="8"] {
    background-color: var(--type-8, #f0f0f0);
}
.day[data-type="9"] {
    background-color: var(--type-9, #f0f0f0);
}
.day[data-type]{
    color: black;
    font-weight: bold;
}



/*************   Options   *************/

.if-user{
    display: var(--user-display, none);
}
.if-guest{
    display: var(--guest-display, block);
}

.btn-google{
    --btn-color: hsl(216, 85%, 35%);
    color: white;
    font-weight: bold;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin-inline: auto;
    padding: 0.9rem 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.panel-container{
    position: sticky;
    top: 0;
    z-index: 100;

    margin: 0;
    width: 100%;
    background-color: hsl(214, 64%, 83%) ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.panel{
    max-width: 350px;
    margin: 0 auto;
    padding: 1rem;
    line-height: 1.4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statistics{
    text-align: left;
    .statistics-title{
        margin-bottom: 0.5rem;
    }
}
.options{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    #year-select{
        text-align: center;
        min-width: 15ch;
        /* min-width: fit-content; */
        margin: 0;
    }
}

.why{
    font-size: small;
    font-style: italic;
    text-decoration: underline;
}
.small-note{
    font-size: small;
    font-style: italic;
}
.unseparated{
    text-wrap: nowrap;
}
.privacy-link{
    font-weight: normal;
}

/*************   Offcanvas   *************/

.offcanvas{
    position: fixed;
    bottom: -200px; /* Αρχικά κρυμμένο κάτω από την οθόνη */
    left: 0;
    width: 100%;

    max-height: 200px; /* Ρύθμισε το ύψος όπως θες */
    background: hsl(240, 67%, 92%);
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4);
    transition: bottom 0.3s ease-in-out;
    padding: 20px;
    z-index: 100;
    h3{
        margin: 0.4rem 0 1rem 0;
    }
}
#edit select, #edit textarea{
    width: 22ch;
    field-sizing: content;
    min-height: 2.3rem;
}
.edit-form{
    /* border: 1px solid #ccc; */
    margin: auto;
    /* width: fit-content; */
    /* max-width: 100%; */
    /* select, textarea{
        text-align: right;
    } */
}
.edit-form > div{
    /* border: 1px solid #ccc; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.offcanvas.active{
    bottom: 0;
}

.modal form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*div:has(input) {align-self: flex-start;}    /*Τα chekbox, στοίχηση αριστερά*/
    .checkbox-div{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        text-align: left;
    }
    .input-div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* flex-direction: column; */
        /* flex-direction: row; */
        gap: 0.5rem;
        align-items: center;
        /* text-align: left; */
        label{text-align:right}
    }
}